<!doctype HTML>
<html>
<head>
	<title><%= article.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1;" />
	<meta name="HandheldFriendly" content="true" />
	<link rel="stylesheet" href="/style/article.css" />
</head>
<body>
	<header>
		<div class="local">A</div>
		<div class="tags">
			<% recommendTags.forEach(tag => { %>
				<% let result = article.tags.indexOf(tag); %>
				<% if (result !== -1) {%>
					<a href="/tag/<%= tag %>" class="current"><%= tag %></a>
				<% } else { %>
					<a href="/tag/<%= tag %>"><%= tag %></a>
				<% } %>
			<% }) %>
		</div>
		</div>
	</header>
	<div class="title"><%= article.title %></div>
	<article>
		<%- article.format %>
	</article>
</body>
</html>
