<!doctype HTML>
<html>
<head>
	<title>Pache</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1;" />
	<meta name="HandheldFriendly" content="true" />
	<% include public/app-icon %>
	<link rel="stylesheet" href="/style/global.css" />
</head>
<body>
	<% include public/pae-header %>
	<ul class="list">
		<% list.forEach(item => {  %>
			<li category-id="<%= item.category %>" article-id="<%= item._id.toString() %>">
				<style>
				[article-id="<%= item._id.toString() %>"] [class^="line-"] {
					background-color: <%= item.fusion_color %>;
				}
				</style>
				<div class="title">
					<a href="/article/<%= item._id %>">
						<div class="right-arrow">
							<div class="line-1"></div>
							<div class="line-2"></div>
						</div>
						<div class="left-arrow">
							<div class="line-1"></div>
							<div class="line-2"></div>
						</div>
						<%= item.title %>
					</a>
				</div>
				<ul class="tag-list">
					<% for (let tag of item.tags) {%>
						<li><a href="/tag/<%= tag %>"><%= tag %></a></li>
					<% }%>
				</ul>
				<div class="time-frame">
					<time class="time">
						<div class="bottom-arrow">
							<div class="line-1"></div>
							<div class="line-2"></div>
						</div>
						<%= item.date.toLocaleDateString() %>
					</time>
				</div>
			</li>
		<% }) %>
	</ul>
	<% include public/pagecode %>
	<% include public/footer %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.27/webfontloader.js"></script>
	<script>
	WebFont.load({
		custom: {
			families: ['Sofia Pro light']
		},
		fontactive: function () {
			var a = document.querySelectorAll('.title a')

			for (var i = 0; i < a.length; ++i) {
				a[i].classList.add('sofia-font')
			}
		}
	})
	</script>
</body>
</html>
