doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="content-type" content="text/html" charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge;chrome=1;")
		meta(name="HandheldFriendly" content="true")

		include ../include/app-icon
		title=article.title

		//- link(rel="stylesheet" media="all" href="/han/han.css")
		link(rel="stylesheet" href="/style/article.css")

	body
		div(class="page-shadow")
		div(class="top-block")
			div(class="top page-btn-panel")
				button.previous.page-btn()="<"
				a.page-code.page-btn(href="/")="首頁"
				button.next.page-btn()=">"

			div(class="article-details")
				div(class="title")=article.title
				time=article.date.toLocaleDateString()

		script(class="execable").
			var cssStyle = document.createElement('style')
			cssStyle.classList.add('execable-css')
			cssStyle.innerHTML = '#article > .page:not(.current-page) { position: fiexed; visibility: hidden } #article section.footnotes { display: none }'
			document.body.appendChild(cssStyle)


		script.
			function calcSize(inputHeight, ratio) {
				// 所有分頁的寬度都是一樣的，介於隱藏頁的寬度高度都無法獲取，故採取獲取當前分頁的寬度的策略
				const currentSplitPage = document.querySelector('.page')
				const limitWidth = parseInt(getComputedStyle(currentSplitPage).width)

				const {availHeight} = screen

				let imgHeight = parseInt(availHeight * 0.8)

				if (imgHeight > inputHeight) {
					imgHeight = inputHeight
				}

				let imgWidth = parseInt(imgHeight * ratio)

				if (imgWidth > limitWidth) {
					imgWidth = limitWidth
					imgHeight = imgWidth / ratio
				}

				return {
					width: imgWidth,
					height: imgHeight,
				}
			}

		noscript
			style.
				meta-img aside { display: none }

		article(id="article" class="article")
			!=article.format

		noscript
			style.
				.page-selector {
					display: none !important;
				}
		div(class="page-selector")
			div(class="page-selector-frame")
				div(class="previous")="<"
				div(class="page-selector-content")
					div(class="selector-triangle")
					ul(class="page-selector-list")
				div(class="next")=">"

		div(class="page-selector-bg")

		//- script(src="/han/han.min.js")
		//- script(src="/vools.js")
		//- script(src="/requirejs/require.min.js")
		script(src="/script/article-enter.js")
		script.
			try {
				var titleHan = Han(document.querySelector('.title')).render();
			} catch (e) {}

		style.
			section.footnotes {
				display: block
			}
