- var noHome = false
- function createDirect(category) {
-   var obj = { src: category, href: '', status: '' };
-   if (!category) {
-     return obj;
-   }
-
-   if (category.type === 'links') {
-     obj.href = `href="${category.value}"`;
-   } else if (category.type === 'article') {
-     obj.href = `href="/article/${category.value}"`;
-   } else {
-     obj.href = `href="/category/${category.name}"`;
-   }
-
-   if (category._id.toString() === conditions.category_id) {
-     obj.status = 'current';
-     noHome = true;
-   }
-   return obj;
- }
- var left_1 = createDirect(categories[0]);
- var left = createDirect(categories[1]);
- var right = createDirect(categories[2]);
- var right_1 = createDirect(categories[3]);
- var home_status = '';
- if (!noHome) {
-   home_status = 'current';  
- }

header(role="banner")
  if left_1.src
    !=`<a ${left_1.status} ${left_1.href}>${left_1.src.name}</a>`
  if left.src
    !=`<a ${left.status} ${left.href}>${left.src.name}</a>`
  !=`<a ${home_status} href="/">首頁</a>`
  if right.src
    !=`<a ${right.status} ${right.href}>${right.src.name}</a>`
  if right_1.src
    !=`<a ${right_1.status} ${right_1.href}>${right_1.src.name}</a>`

div.page-shadow
  
if conditions.tags
  div.conditions
    ul.tag-selected
      each ct in conditions.tags
        li
          a(href=`${category_prefix}/tag/${conditions.tags.filter(sct => sct !== ct).toString()}`)
            =ct
