- var left = { src: categories[0], status: '' };
- var right = { src: categories[1], status: '' };
- var home_status = '';
- if (left.src && left.src._id.toString() === conditions.category_id) {
- 	left.status = 'current';
- } else if (right.src && right.src._id.toString() === conditions.category_id) {
- 	right.status = 'current';
- } else {
- 	home_status = 'current';
- }

header(role="banner")
  !=`<a ${left.status} href="/category/${left.src.name}">${left.src.name}</a>`
  !=`<a ${home_status} href="/">首頁</a>`
  !=`<a ${right.status} href="/category/${right.src.name}">${right.src.name}</a>`

div.page-shadow
  
if conditions.tags
  div.conditions
    ul.tag-selected
      each ct in conditions.tags
        li
          a(href=`${category_prefix}/tag/${conditions.tags.filter(sct => sct !== ct).toString()}`)
            =ct
