- var countPage = Math.ceil(count / limit);

- /* 只有一页的情况不显示页码 */
if countPage > 1

  - if (!Array.isArray(tags)) { tags = [] }
  - var cursor = page - 1;
  - var right = page + 1;
  div.pagecode
    if cursor <= 0
      - right += Math.abs(cursor) + 1;
      - cursor = 1;

    if right > countPage
      - cursor -= Math.abs(right - countPage);
      if (cursor <= 0)
        - cursor = 1;
      - right = countPage;

    if page === 1 && countPage > 2
      a(href=`` style="visibility: hidden;")="　"
      - right = right - 1;

    if page === countPage && countPage > 2
      - ++cursor;

    - for (; cursor <= right; ++cursor){
      if page === cursor
        a(current)=cursor
      else
        if conditions.category_name
          - var categoryHref = '/category/' + conditions.category_name
        else
          - var categoryHref = ''

        if tags.length
          - var tagHref = '/tag/' + tags.join(',') + '';
        else
          - var tagHref = '';

        a(href=`${categoryHref}${tagHref}\/${cursor}`)
          =cursor
    - }

    if page === countPage
      a(href=`` style="visibility: hidden;")="　"
